.vs/
Banana.Web/bin/
 Banana.Web/obj/
/Banana.Services.AuthApi/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
*.dll
*.json
*.exe
*.pdb
*.props
*.editorconfig
/Banana.Services.AuthApi/obj/Debug/net8.0/Banana.Services.AuthApi.GlobalUsings.g.cs
*.cache
*.bin
*.targets
/Banana.Services.AuthApi/obj/Debug/net8.0/Banana.Services.AuthApi.csproj.FileListAbsolute.txt
*.BuildWithSkipAnalyzers
/Banana.Services.CouponAPI/bin/Debug/net8.0/Banana.Services.CouponAPI.dll
/Banana.Services.AuthApi/obj/Debug/net8.0/Banana.Services.AuthApi.MvcApplicationPartsAssemblyInfo.cs
/Banana.Services.AuthApi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Banana.Services.AuthApi/obj/Debug/net8.0/Banana.Services.AuthApi.AssemblyInfo.cs
/Banana.Services.AuthApi/obj/Debug/net8.0/Banana.Services.AuthApi.csproj.CopyComplete
/Banana.Services.CouponAPI/bin/Debug/net8.0/appsettings.json
/Banana.Services.CouponAPI/bin/Debug/net8.0/Banana.Services.CouponAPI.exe
/Banana.Services.CouponAPI/bin/Debug/net8.0/Banana.Services.CouponAPI.pdb
/Banana.Services.CouponAPI/obj/Debug/net8.0/ref/Banana.Services.CouponAPI.dll
/Banana.Services.CouponAPI/obj/Debug/net8.0/refint/Banana.Services.CouponAPI.dll
/Banana.Services.CouponAPI/obj/Debug/net8.0/apphost.exe
/Banana.Services.CouponAPI/obj/Debug/net8.0/Banana.Services.CouponAPI.AssemblyInfo.cs
/Banana.Services.CouponAPI/obj/Debug/net8.0/Banana.Services.CouponAPI.AssemblyInfoInputs.cache
/Banana.Services.CouponAPI/obj/Debug/net8.0/Banana.Services.CouponAPI.sourcelink.json
/Banana.Services.CouponAPI/obj/Debug/net8.0/Banana.Services.CouponAPI.pdb
/Banana.Services.CouponAPI/obj/Debug/net8.0/Banana.Services.CouponAPI.csproj.CoreCompileInputs.cache
/Banana.Services.CouponAPI/obj/Debug/net8.0/Banana.Services.CouponAPI.dll
/Banana.Services.ProductAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Banana.Services.ProductAPI/obj/Debug/net8.0/Banana.Services.ProductAPI.MvcApplicationPartsAssemblyInfo.cs
/Banana.Services.ProductAPI/obj/Debug/net8.0/Banana.Services.ProductAPI.AssemblyInfo.cs
*.CopyComplete
/Banana.Services.ProductAPI/obj/Debug/net8.0/Banana.Services.ProductAPI.csproj.FileListAbsolute.txt
/Banana.Services.ProductAPI/obj/Debug/net8.0/Banana.Services.ProductAPI.GlobalUsings.g.cs
/Banana.Web/bin/Debug/net8.0/Banana.Web.pdb
/Banana.Web/bin/Debug/net8.0/Banana.Web.exe
/Banana.Web/bin/Debug/net8.0/Banana.Web.deps.json
/Banana.Web/bin/Debug/net8.0/appsettings.json
/Banana.Web/bin/Debug/net8.0/Banana.Web.dll
/Banana.Web/obj/Debug/net8.0/ref/Banana.Web.dll
/Banana.Web/obj/Debug/net8.0/refint/Banana.Web.dll
/Banana.Web/obj/Debug/net8.0/project.razor.vs.bin
/Banana.Web/obj/Debug/net8.0/Banana.Web.csproj.CoreCompileInputs.cache
/Banana.Web/obj/Debug/net8.0/Banana.Web.AssemblyInfo.cs
/Banana.Web/obj/Debug/net8.0/Banana.Web.GeneratedMSBuildEditorConfig.editorconfig
/Banana.Web/obj/Debug/net8.0/apphost.exe
/Banana.Web/obj/Debug/net8.0/Banana.Web.AssemblyInfoInputs.cache
/Banana.Web/obj/Debug/net8.0/Banana.Web.assets.cache
/Banana.Web/obj/Debug/net8.0/Banana.Web.csproj.AssemblyReference.cache
/Banana.Web/obj/Debug/net8.0/Banana.Web.csproj.FileListAbsolute.txt
/Banana.Web/obj/Debug/net8.0/Banana.Web.sourcelink.json
/Banana.Web/obj/project.assets.json
/Banana.Web/obj/Debug/net8.0/Banana.Web.dll
/Banana.Web/obj/Banana.Web.csproj.nuget.dgspec.json
/Banana.Web/obj/Debug/net8.0/Banana.Web.pdb
/Banana.Web/obj/project.nuget.cache
/Banana.Services.ShoppingCartAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Banana.Services.ShoppingCartAPI/obj/Debug/net8.0/Banana.Services.ShoppingCartAPI.AssemblyInfo.cs
/Banana.Services.ShoppingCartAPI/obj/Debug/net8.0/Banana.Services.ShoppingCartAPI.csproj.FileListAbsolute.txt
*.g.cs
/Banana.Services.ShoppingCartAPI/obj/Debug/net8.0/Banana.Services.ShoppingCartAPI.MvcApplicationPartsAssemblyInfo.cs
/Banana.Services.CouponAPI/obj/Debug/net8.0/Banana.Services.CouponAPI.csproj.FileListAbsolute.txt
/Banana.Services.EmailAPI/obj/Debug/net8.0/Banana.Services.EmailAPI.AssemblyInfo.cs
/Banana.Services.EmailAPI/obj/Debug/net8.0/Banana.Services.EmailAPI.csproj.FileListAbsolute.txt
/Banana.Services.EmailAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Banana.Services.EmailAPI/obj/Debug/net8.0/Banana.Services.EmailAPI.MvcApplicationPartsAssemblyInfo.cs
/Banana.Services.CouponAPI/obj/Debug/net8.0/project.razor.vs.bin
/Banana.MessageBus/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Banana.MessageBus/obj/Debug/net8.0/Banana.MessageBus.AssemblyInfo.cs
/Banana.MessageBus/obj/Debug/net8.0/Banana.MessageBus.csproj.FileListAbsolute.txt
/Banana.Services.OrderAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Banana.Services.OrderAPI/obj/Debug/net8.0/Banana.Services.OrderAPI.AssemblyInfo.cs
/Banana.Services.OrderAPI/obj/Debug/net8.0/Banana.Services.OrderAPI.csproj.FileListAbsolute.txt
/Banana.Services.OrderAPI/obj/Debug/net8.0/Banana.Services.OrderAPI.MvcApplicationPartsAssemblyInfo.cs
/Banana.Web/obj/Debug/net8.0/staticwebassets/msbuild.Banana.Web.Microsoft.AspNetCore.StaticWebAssets.props
/Banana.Web/bin/Debug/net8.0/Banana.Web.staticwebassets.runtime.json
/Banana.Web/obj/Debug/net8.0/staticwebassets.build.json
/Banana.Web/obj/Debug/net8.0/staticwebassets.development.json
/Banana.Web/obj/Debug/net8.0/staticwebassets.pack.json
/Banana.Services.CouponAPI/obj/Debug/net8.0/Banana.Services.CouponAPI.assets.cache
/Banana.Services.CouponAPI/obj/Debug/net8.0/Banana.Services.CouponAPI.csproj.AssemblyReference.cache
/Banana.Services.CouponAPI/obj/project.assets.json
/Banana.Services.CouponAPI/obj/Banana.Services.CouponAPI.csproj.nuget.dgspec.json
/Banana.Services.CouponAPI/obj/project.nuget.cache
/Banana.Services.CouponAPI/bin/Debug/net8.0/Banana.Services.CouponAPI.deps.json
